@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url("../img/main.jpg") no-repeat fixed;
    background-size: cover;
    min-height: 90%;
}

.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    height: 3em;
    padding: 0 1.5vw;
    background-color: rgba(179, 179, 179, 0.7);
    /*background-color: #000;*/
    align-items: center;

}

.footer .info-tag-container {
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    background-color: #000;

}

.footer .info-tag-container .info-line {
    padding: 0 3vw;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    padding: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: #fff;
}

.input-container form {
    display: flex;
    flex-direction: column;

}

.input-container form span:after {
    content: ':';
}

.input-container input {
    padding: 0.6em 0;
    padding-left: 0.3em;
    border: 0;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
    min-width: 20em;
}

.input-container input[type=number] {
    padding: 0.3em 0;
    padding-left: 0.3em;
    border: 0;
    margin: 0;
    min-width: 18.75em;
}

.input-container input[type=submit] {
    margin: 0;
    margin-top: 0.5em;
}

.input-container .button {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.95;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 0 0 #fff inset;
}

.button-blue {
    background-color: rgba(5, 202, 255, 0.7);
}

.button-blue:hover {
    background-color: rgba(5, 202, 255, 1);
}

.button-gray {
    background-color: rgba(179, 179, 179, 0.7);
}

.button-gray:hover {
    background-color: rgba(179, 179, 179, 1);
}

.header {
    display: flex;

    justify-content: space-between;
    height: 3em;
    padding: 0 1.5vw;
    /*background-color: rgba(0, 0, 0, 0.11);*/
    background-color: rgba(179, 179, 179, 0.7);
    align-items: center;
}

.header .logo-container input {
    height: 3em;
    overflow: hidden;
}

.header .logo-container input img {
    max-height: 100%;
    max-width: 100%;
}

.header select {
    border: none;
    min-width: 10em;

}

.header select[multiple]:focus option:checked {
    background: #000;
}

.header .search {
    display: flex;
    justify-content: center;
}

.header .search input {
    border: 0;
    font-size: 1.1em;
    margin: 0;
}

.header .search input[type=submit] {

    color: #fff;
    cursor: pointer;
    background-color: rgba(179, 179, 179, 0.7);
    transition: all 0.3s ease;
}

.header .search input[type=submit]:hover {
    background-color: rgba(179, 179, 179, 1);
}

.header .search input[type=text] {
    width: 15em;
}

.header .lang-button-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header .lang-button-container .lang-button {
    color: #fff;
    background-color: rgba(5, 202, 255, 0.7);
    padding: 0.3em 0.8em;
    height: 3em;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header .lang-button-container .lang-button:hover {
    background-color: rgba(5, 202, 255, 1);
}

/*КАРТОЧКА ТАТУ*/

.tattoo-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tatoo-card {
    width: 15vw;
    height: 25vw;
    min-width: 210px;
    min-height: 350px;
    background-color: white;
    margin: 20px 30px;

}

.tattoo-card-button {
    margin: 0;
}

.tatoo-card .delete-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1adac;
    cursor: pointer;
}

.tatoo-card .img-container {
    align-items: center;
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.tatoo-card .img-container img.wide {

    max-height: 100%;
    height: auto;
}

.tatoo-card .img-container img.tall {

    max-width: 100%;
    width: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.info-container .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
}

.info-container .info .title {
    font-size: 1.3em;
    font-weight: bold;
}

.info-container .info .info-line {
    font-size: 0.8em;
}

.info-container .info .author a {
    font-size: 0.8em;
    color: rgba(5, 202, 255, 1);
    transition: all 0.1s ease;
}

.info-container .info .author a:hover {
    color: rgb(3, 114, 142);
}

.info-container .order-button {
    background-color: rgba(5, 202, 255, 0.7);
    color: #fff;
    width: 100%;
    border: none;
    height: 3em;
    text-transform: uppercase;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info-container .order-button:hover {
    background-color: rgba(5, 202, 255, 1);
}

/*РЕЙТИНГ*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    color: #ffdd00;
    content: "\2605";
    position: absolute;
}

.page-number-container {
    display: flex;
    flex-direction: row;
    margin: 1vw 0;
    padding: 0 6vw;
    text-transform: uppercase;
}

.page-number-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-number-container .page-number-blue {
    color: #fff;
    background-color: rgba(5, 202, 255, 0.7);
    padding: 0.3em 0.8em;
    height: 3em;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-number-container .page-number-blue:hover {
    background-color: rgba(5, 202, 255, 1);
}

.page-number-container .page-number-gray {
    color: #fff;
    background-color: rgba(179, 179, 179, 0.7);
    padding: 0.3em 0.8em;
    height: 3em;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: default;
    transition: all 0.3s ease;
}

/* ЗАКАЗЫ */

.offer-card {
    width: 40%;
    height: 35vh;
}

.offer-card .info-container {
    height: 30vh;
    width: 100%;
    background-color: aqua;
}

.offer-card .button-container input {
    height: 5vh;
    background-color: rgba(5, 202, 255, 0.7);
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.offer-card .button-container input:hover {
    background-color: rgba(5, 202, 255, 1);
}

/*ORDER*/
.order-card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-card-container .order-card {
    width: 140vh;
    height: 80vh;
    display: flex;
}

.order-card_img-container {
    width: 60%;
}

.order-card_info-container {
    width: 40%;
}

.order-card_img-container {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: rgba(50, 50, 51, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-card_img-container img.photo {
    max-height: 100%;
    max-width: 100%;
}

.order-card_img-container img.photo.tall {
    min-height: 70vh;
}

.order-card_img-container img.photo.wide {
    min-width: 84vh;
}

.order-card_info-container {
    background-color: rgba(50, 50, 51, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;

    justify-content: space-evenly;
}

.order-card_info-container .title {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.order-card_info-container .all-info span.info-line {
    display: block;
    margin: 1em 0;
}

.order-card_info-container .all-info span span.key {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em;
    display: inline-flex;
}

.order-card_info-container .all-info span span.key:after {
    content: ':';
}

.order-card_info-container form input[type=submit] {
    width: 100%;
    padding: 2em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    background-color: rgba(5, 202, 255, 0.7);
    transition: all 0.3s ease;
    cursor: pointer;
}

.order-card_info-container form input[type=submit]:hover {
    background-color: rgba(5, 202, 255, 1);
}

.order-card_info-container form input[type=submit].gray {
    background-color: rgba(179, 179, 179, 0.7);
}

.order-card_info-container form input[type=submit].gray:hover {
    background-color: rgba(179, 179, 179, 1);
}

.order-card_info-container .rating {
    font-size: 2em;
    text-align: left;
}

/*USER ROOM*/

.user-cabinet-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-cabinet-container .user-card-container {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
}

.user-cabinet-container .user-card-container .username {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.2em;
}

.user-cabinet-container .user-card-container .user-card {
    height: 80%;
    background-color: rgba(50, 50, 51, 0.5);
    color: #fff;
    padding: 1em;

}

.user-cabinet-container .user-card-container .user-card .info {

}

.user-cabinet-container .user-card-container .user-card .info .key {
    font-weight: bold;
}

.user-cabinet-container .user-card-container .user-card .info .key:after {
    content: ':';
}

.user-cabinet-container .user-card-container .user-card form input[type=submit] {
    width: 15em;
    padding: 2em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.user-cabinet-container .user-card-container .user-card .button-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-cabinet-container .user-card-container .user-card form input[type=submit].blue {
    background-color: rgba(5, 202, 255, 0.7);
}

.user-cabinet-container .user-card-container .user-card form input[type=submit].blue:hover {
    background-color: rgba(5, 202, 255, 1);
}

.user-cabinet-container .user-card-container .user-card form input[type=submit].gray {
    background-color: rgba(179, 179, 179, 0.7);
}

.user-cabinet-container .user-card-container .user-card form input[type=submit].gray:hover {
    background-color: rgba(179, 179, 179, 1);
}

/*OFFER*/
.offer-offer-table input, .offer-offer-table select {
    min-width: 13em;
}

.upload-offer-table input, .upload-offer-table select {
    min-width: 18.75em;
}

.info-table-container {
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
}

.info-table-container p {
    font-size: 2em;
}

.info-table-container table {
    background-color: rgba(50, 50, 51, 0.5);
    width: 100%;
    border-collapse: collapse;

}

.info-table-container table th, .info-table-container table td {
    text-align: left;
    padding: 0.5em;
}

.info-table-container table th {
    background-color: rgba(28, 28, 29, 0.5);
}

.info-table-container table td {
    background-color: rgba(50, 50, 51, 0.5);
}

.info-table-container table tr:nth-child(even) {
    background-color: rgba(67, 67, 68, 0.5);
}

.info-table-container table td.percentage:after {
    content: '%';
}

.info-table-container table td form input[type=submit] {
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(5, 202, 255, 0.7);
}

.info-table-container table td form input[type=submit]:hover {
    background-color: rgba(5, 202, 255, 1);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.95;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 0 0 #fff inset;
    background-color: rgba(5, 202, 255, 0.7);
}

.inputfile:focus + label {
}

.inputfile + label:hover {
    background-color: rgba(5, 202, 255, 1);
}
